node_modules
dist
.vite

.vscode/
.env
.env.*
*.local
vite.config.*.js
tsconfig.json
jsconfig.json

tests/
__tests__/
__mocks__/
coverage/
jest.config.js
vitest.config.js

.DS_Store
*.log
*.cache/
*.tmp/
*.bak

docs/
# README.md
LICENSE
